# Day 2 review

- sequence object
- index
- sequence object[index]
- range, del, ...
- sequence object[start_index:end_index:interval] (slice), (omit O)
- dictionary = {key:value}      (sequence X, overlap X)

---

# for, range 사용

In [9]:
for 변수 in range(횟수):
    반복할 코드

In [12]:
for i in range(10):
    print("Hello World!", i)

Hello World! 0
Hello World! 1
Hello World! 2
Hello World! 3
Hello World! 4
Hello World! 5
Hello World! 6
Hello World! 7
Hello World! 8
Hello World! 9

In [8]:
for 변수 in range(시작, 끝, 증가폭):
    반복할 코드

In [13]:
for i in range(0, 10, 2):
    print("Hello world!", i)

Hello world! 0
Hello world! 2
Hello world! 4
Hello world! 6
Hello world! 8

In [14]:
for i in range(10, 0, -1):
    print("Hello World!", i)

Hello World! 10
Hello World! 9
Hello World! 8
Hello World! 7
Hello World! 6
Hello World! 5
Hello World! 4
Hello World! 3
Hello World! 2
Hello World! 1

In [17]:
# enumerate는 시퀀스 객체의 값뿐만 아니라 인덱스까지도 반환해줌
for i, v in enumerate(range(0, 10, 2)):
    print("Hello World!", i, v)     # enumearate를 사용하면 index가 따라붙는다. index는 변수1에, valte는 변수2에 저장

Hello World! 0 0
Hello World! 1 2
Hello World! 2 4
Hello World! 3 6
Hello World! 4 8

for 변수 in 시퀀스 객체:
    반복할 코드

In [18]:
for i in "Hello":       # 문자
    print(i)

H
e
l
l
o

In [19]:
for i in [1, 2, 3]:       # list
    print(i)

1
2
3

In [20]:
for i in (1, 2, 3):     # tuple
    print(i)

1
2
3

- for i in enumearate(sequence object):

In [21]:
for i, v in enumerate("Hello"):
    print(i, v)

0 H
1 e
2 l
3 l
4 o

In [ ]:
for i in reversed(sequence object):
    반복할 코드

In [22]:
for i in reversed((1, 2, 3)):
    print(i)

3
2
1

In [23]:
for i in reversed("Python"):
    print(i)

n
o
h
t
y
P

# Workshop

In [37]:
a = int(input())
for i in range(1, 10):
    print(a, '*', i, '=' , a * i)

15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135

In [40]:
"Hello".format()

'Hello'

In [43]:
# option 1  (format 함수 사용)

x = int(input())
for i in range(1, 10):
    print("{0} * {1} = {2}".format(x, i, x * i))     # format을 사용하여 C언어에서의 #d, #f, ...와 같은 것들을 파이썬으로 표현

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [46]:
x = int(input())
for i in range(1, 10):
    print("{2} * {1} = {0}".format(x, i, x * i))         # 입력하는 숫자에 따라서 입력되는 순서가 달라짐

5
5 * 1 = 5
10 * 2 = 5
15 * 3 = 5
20 * 4 = 5
25 * 5 = 5
30 * 6 = 5
35 * 7 = 5
40 * 8 = 5
45 * 9 = 5

In [49]:
# option 2   (서식 지정자 %)

x = int(input())
for i in range(1, 10):
    print("%d * %d = %d" % (x, i, x * i))     # C언어에서의 ,(comma) 대신 파이썬에서는 %를 입력해준다.

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [51]:
# option 3 (문자열 포매팅(formatting) f를 붙이는 방법)

x = int(input())
for i in range(1, 10):
    print(f"{x} * {i} = {x * i}")

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [56]:
i = 0                         # 초기식
while i < 10:                # while 조건식
    print("Hello World!", i)    # 반복할 코드
    i += 1                  # 변화식 (없으면 무한 실행)

Hello World! 0
Hello World! 1
Hello World! 2
Hello World! 3
Hello World! 4
Hello World! 5
Hello World! 6
Hello World! 7
Hello World! 8
Hello World! 9

# while 반복문 사용하기

```
초기식
while 조건식:
    반복할 코드
    변화식
```

In [57]:
i = 10
while i > 0:
    print("Hello World!")
    i -= 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [65]:
import random

random.randint(1, 6)

3

In [74]:
i = 0
while i != 3:
    i = random.randint(1, 6)              
    print(i)

4
4
6
2
5
5
4
4
4
2
6
1
3

---

In [75]:
balance = int(input())
while balance > 1340:
    balance -= 1350
    print(balance)

30000
28650
27300
25950
24600
23250
21900
20550
19200
17850
16500
15150
13800
12450
11100
9750
8400
7050
5700
4350
3000
1650
300

---

In [92]:
for i in range(0, 80):
    if i % 10 == 3:
        print(i, end = " ")

3 13 23 33 43 53 63 73

In [88]:
for i in range(74):
    if (i % 10) == 3:
        print(i, end = " ")

3 13 23 33 43 53 63 73

In [89]:
# break문 사용법

i = 0
while True:
    print(i)
    i += 1
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [91]:
# continue

for i in range(74):
    if (i % 10) != 3:
        continue
    else:
        print(i, end = " ")

3 13 23 33 43 53 63 73

In [96]:
i = 0
while True:
    if i > 73:
        break
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73

In [98]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
        
    if i > 73:
        break
    print(i, end = " ")
    i += 1

3 13 23 33 43 53 63 73

---

In [132]:
s = 'life is short, so python is easy.'
punct = ',.'
d = {}

s_list = list(s)
s_list

for i in s_list:
    print('%s의 개수 : %d' % (i,s_list.count(i)))
    list(zip(list(i), s_list.count(i)))

l의 개수 : 1

TypeError: 'int' object is not iterable

In [107]:
for i in s_list:
    print('%s의 개수 : %d' % (i,s_list.count(i)))
    
for i in s_list:
    dict(list(zip(s_list, s_list.count(i))))

l의 개수 : 1

TypeError: 'int' object is not iterable

In [127]:
s = 'life is short, so python is easy.'
punct = ',. '
d = {}

for c in s:
    # print(c)
    if c in punct:
        continue
    if c not in d:
        d[c] = 0
    if c in d:
        d[c] += 1

In [128]:
d

{'l': 1,
 'i': 3,
 'f': 1,
 'e': 2,
 's': 5,
 'h': 2,
 'o': 3,
 'r': 1,
 't': 2,
 'p': 1,
 'y': 2,
 'n': 1,
 'a': 1}

# 중첩 루트 사용하기

In [139]:
for j in range(3):
    for i in range(5):
        print('*', end = " ")
    print()

* * * * *
* * * * *
* * * * *

```
**계단식으로 별 출력하기 (1)**
*
**
***
****
*****
```

In [173]:
for j in range(1, 6):
    for i in range(5):
        print(end = " ")
    print(j * '*')

     *
     **
     ***
     ****
     *****

```
**계단식으로 별 출력하기 (2)**
*****
****
***
**
*
```

In [160]:
for j in range(5, 0, -1):
    for i in range(5):
        print(end = " ")
    print(j * '*')

     *****
     ****
     ***
     **
     *

In [175]:
for i in range(5):      # i: 0 -> 1 -> 2 -> 3 -> 4
    # 1. 공백
    for j in range(i):       # j: 0 -> 1 -> 2 -> 3 -> 4
        print(" ", end = '')
        
    # 2. 별
    
    for k in range(5-i): # k: 5 -> 4 -> 3 -> 2 -> 1
        print("*", end = '')
    print()

*****
 ****
  ***
   **
    *

```
**별로 산 만들기**
    *
   ***
  *****
 *******
*********
```

In [180]:
for i in range(1, 6):      # i: 1 -> 2 -> 3 -> 4 -> 5
    # 1. 공백
    for j in range(5-i):   # j: 4 -> 3 -> 2 -> 1 -> 0
        print(" ", end = "")
        
    # 2. 별
    for k in range(2 * i - 1):   # k: 1 -> 3 -> 5 -> 7 -> 9
        print("*", end = "")
    print()

    *
   ***
  *****
 *******
*********

In [178]:
for j in range(1, 10, 2):
    for i in range(5):
        print(end = " ")
    print(j * '*')

     *
     ***
     *****
     *******
     *********

# FizzBuzz 문제

In [193]:
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# list applying

- append: 요소 하나를 추가
- extend: 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소 추가

In [194]:
a = [10, 20, 30]

In [195]:
a.append(500)

In [196]:
a

[10, 20, 30, 500]

In [197]:
a = []
a.append(10)

In [198]:
a

[10]

In [199]:
a = [10, 20, 30]
b = [40, 50, 60]

In [200]:
a.extend(b)

In [201]:
a

[10, 20, 30, 40, 50, 60]

In [202]:
b

[40, 50, 60]

In [203]:
a   # 기존 리스트가 변경됨

[10, 20, 30, 40, 50, 60]

In [204]:
# 참고      기존 리스트는 변경되지 않음

a = [10, 20, 30]
b = [40, 50, 60]

a + b

[10, 20, 30, 40, 50, 60]

In [205]:
a

[10, 20, 30]

In [206]:
b

[40, 50, 60]

```
a.insert(location, something to insert)
```

In [208]:
a.insert(1, 500)

In [209]:
a

[10, 500, 20, 30]

- insert(0, element): add at the first of list
- insert(len(list), element): add at the last of list

In [210]:
a = [10, 20, 30]
a.insert(0, 100)
a

[100, 10, 20, 30]

In [211]:
a.insert(len(a), 1000)
a

[100, 10, 20, 30, 1000]

In [212]:
a.insert(-1, 2000)
a

[100, 10, 20, 30, 2000, 1000]

- pop: delete last element or specular index
- remove: delete someothing value

In [213]:
a = [10, 20, 30]
x = a.pop()
x

30

In [214]:
a

[10, 20]

In [215]:
a = [10, 20, 30]
x = a.pop(1)       # index
x

20

In [216]:
a

[10, 30]

In [217]:
a = [10, 20, 30]
a.remove(20)      # value

In [218]:
a

[10, 30]

- index(value): 리스트에서 특정 값의 인덱스 구함
- count(value): 리스트에서 특정 값의 개수를 구함

In [220]:
a = [10, 20, 30]
a.index(20)

1

In [224]:
a = [10, 10, 20, 30, 30, 30]

In [225]:
a.count(10)

2

In [226]:
a.count(30)

3

- reverse(): 리스트에서 요소의 순서를 반대로 뒤집음.
- sort(): 리스트의 요소를 정렬함(오름차순 기본값)

In [227]:
a = [10, 20, 30]
a.reverse()

In [228]:
a

[30, 20, 10]

In [229]:
# 참고 슬라이스로 뒤집기
a[-1::-1]

[10, 20, 30]

In [230]:
a = [10, 50, -1, 0, 4, 10000]
a.sort()     # reverse = False
a

[-1, 0, 4, 10, 50, 10000]

In [231]:
a = [10, 50, -1, 0, 4, 10000]
a.sort(reverse = True)
a

[10000, 50, 10, 4, 0, -1]

- =
- copy()

In [232]:
a = [0, 0, 0, 0]
b = a            # 새로운 메모리가 할당되진 않고 a가 쓰는 메모리를 가리키는 것이다.

In [233]:
b

[0, 0, 0, 0]

In [234]:
a

[0, 0, 0, 0]

In [235]:
a is b

True

In [236]:
b[1] = 1000

In [237]:
b

[0, 1000, 0, 0]

In [238]:
a is b

True

In [239]:
a              # 같은 메모리를 공유하기 때문에 b를 바꿔도 a도 바뀜

[0, 1000, 0, 0]

In [240]:
a = [0, 0, 0, 0]
b = a.copy()       # copy()를 사용해 b를 위한 또다른 메모리 할당

In [241]:
a

[0, 0, 0, 0]

In [242]:
b

[0, 0, 0, 0]

In [243]:
a[1] = 1000

In [244]:
a          # 변경된 a의 메모리

[0, 1000, 0, 0]

In [245]:
b          # 변경되지 않은 b의 또다른 메모리

[0, 0, 0, 0]

- copy()와 deepcopy()

In [246]:
a = [[10, 20], [30, 40]]    # 2차원 리스트
b = a

In [247]:
a

[[10, 20], [30, 40]]

In [248]:
b

[[10, 20], [30, 40]]

In [249]:
b[0]

[10, 20]

In [251]:
b[0][0] = 3000   # 2차원 리스트를 2번 색인해서 원소값에 접근

In [252]:
b

[[3000, 20], [30, 40]]

In [253]:
a

[[3000, 20], [30, 40]]

In [254]:
a = [[10, 20], [30, 40]]
b = a.copy()

In [255]:
b[0][0] = 3000
b

[[3000, 20], [30, 40]]

In [256]:
a          # copy()를 사용했음에도 메모리가 따로 할당되지 않았다.

[[3000, 20], [30, 40]]

In [257]:
import copy                   # import copy module

a = [[10, 20], [30, 40]]
b = copy.deepcopy(a)          # 2차원 리스트부터는 copy module에 deepcopy를 사용

In [258]:
a

[[10, 20], [30, 40]]

In [259]:
b

[[10, 20], [30, 40]]

In [260]:
b[0][0] = 3000

In [261]:
b

[[3000, 20], [30, 40]]

In [262]:
a

[[10, 20], [30, 40]]

# print the list elements using repeat string

- for element in list

In [263]:
a = [10, 20, 30]
for v in a:
    print(v)

10
20
30

In [264]:
for i in range(len(a)):         # C언어 방식 - 파이썬이 more simple
    print(a[i])

10
20
30

- for index, element in enumerate(list):

In [266]:
a = [10, 20, 30]
for i, v in enumerate(a, start = 1):          # start 활용
    print(i, v)        # i: index, v: value

1 10
2 20
3 30

**리스트의 가장 작은 수, 가장 큰 수, 합계**

In [267]:
a = [10, 20, 30]

In [268]:
min(a)

10

In [269]:
max(a)

30

In [270]:
sum(a)

60

In [271]:
sum(a)/len(a)        # average

20.0

**리스트 표현식(List comprehension)**

- [식 for 변수 in 리스트]

In [272]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [273]:
for i in range(10):
    print(i * 2)

0
2
4
6
8
10
12
14
16
18

In [275]:
# 1. for문 이용, list의 append()함수 이용

l = []
for i in range(10):
    l.append(i * 2)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [279]:
# 2. 리스트 표현식

[i * 2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
word_list = ["Python", "is", "easy"]

[6, 2, 4]

단어 길이 리스트로 구하기

In [292]:
# 1

word_count = []
word_list = ["Python", "is", "easy"]
for word in word_list:
    word_count.append(len(word))
word_count

[6, 2, 4]

In [293]:
# 2

[len(word) for word in word_list]

[6, 2, 4]

- [식 for 변수  in 리스트 if 조건식]

In [294]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [295]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

# Workshop

In [297]:
a = ['awfnawkn', 'awkjfa', 'afawf', 'awff', 'awfaw', 'wrtnn', 'nrtnwr', 'asdasd', 'awdaa']

[i for i in a if len(i) == 5]

['afawf', 'awfaw', 'wrtnn', 'awdaa']

**리스트에서 map 사용하기**

In [300]:
a = [1.2, 2.5, 3.7, 4.6]
l = []

for i in a:
    l.append(int(i))
l

[1, 2, 3, 4]

In [301]:
# 위의 코드와 동일한 결과. But, for문을 사용하지 않고 map을 사용해서 일괄 적용 
list(map(int, a))

[1, 2, 3, 4]

# applying tuple

- index(value): 특정값의 인덱스 구하기

In [302]:
a = (10, 20, 30)
a.index(30)

2

- count(value): 특정값의 개수 구하기

In [303]:
a = (10, 10, 10, 20, 30, 30)
a.count(10)

3

# Workshop

**자동 로또 번호 생성기**
- 1~45 숫자 중에서 6개를 고르는 로또 번호를 자동으로 만들어 주는 프로그램 작성하기
- 사용자가 입력한 개수만큼 번호 쌍을 생성하기(예: 5를 입력하면 5 세트의 번호가 생성되도록 하기)
- 한번 뽑히것은 뽑히지 않도록 하고, 최종 출력은 오름차순 정렬해서 보여주기

In [363]:
import random

a = []
c = []
b = int(input())

for i in range(6):
    a.append(random.randint(1, 45))
    a.sort()
    
    if i not in a:
        for j in range(b):
            c.append(a)
print(c)

3
[[15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44], [15, 16, 29, 37, 42, 44]]

In [361]:
count = int(input("로또 몇 회 뽑으시겠습니까? "))

total = []
for i in range(count):
    lotto = []
    while True:       # 무한 루프는 break문 필수
        pick = random.randint(1, 45)
        if pick not in lotto:
            lotto.append(pick)

        if len(lotto) >= 6:
            break
    lotto.sort()
    total.append(lotto)
total

로또 몇 회 뽑으시겠습니까? 5

[[1, 5, 10, 14, 30, 43],
 [1, 4, 11, 13, 14, 43],
 [8, 22, 28, 30, 40, 44],
 [4, 5, 8, 22, 30, 35],
 [21, 25, 26, 30, 33, 37]]

In [365]:
count = int(input("로또 몇 회 뽑으시겠습니까? "))

total = []
for i in range(count):
    lotto = random.sample(range(1, 46), 6)
    lotto.sort()
    total.append(lotto)
total

로또 몇 회 뽑으시겠습니까? 3

[[11, 23, 26, 37, 38, 39], [3, 8, 14, 15, 24, 44], [2, 4, 6, 19, 23, 28]]

# 문자열 응용하기

- replace('바꿀문자열', '새문자열'): 문자열 바꾸기

In [366]:
s = "Hello, World!"
result = s.replace('World!', 'Python!')
result

'Hello, Python!'

In [367]:
s

'Hello, World!'

- split('기준문자열'): 문자열 분리하기

In [370]:
s = 'apple pear grape pineapple orange'
result = s.split()
result

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [371]:
s

'apple pear grape pineapple orange'

In [372]:
s = 'apple.pear.grape.pineapple.orange'
result = s.split('.')
result

['apple', 'pear', 'grape', 'pineapple', 'orange']

- '구분자'.join(list)

In [376]:
'-'.join(result)

'apple-pear-grape-pineapple-orange'

- upper(): 대문자로 바꿈
- lower(): 소문자로 바꿈
- strip(): 문자열 양쪽에 있는 연속된 모든 공백을 삭제
- lstrip(): 문자열 왼쪽에 있는 연속된 모든 공백을 삭제
- rstrip(): 문자열 오른쪽에 있는 연속된 모든 공백을 삭제

In [377]:
'python'.upper()

'PYTHON'

In [378]:
'PYTHON'.lower()

'python'

In [379]:
'          python        '.strip()

'python'

In [380]:
'            python          '.lstrip()

'python          '

In [382]:
'            python          '.rstrip()

'            python'

In [394]:
' .,.    .,     python   .,.,.,.       '.strip(',. ')

'python'

In [389]:
'python'.center(20)    # 20(길이)만큼의 전체 사이즈를 확보하고 문자열을 중간에 배치

'       python       '

- index('찾을문자열'): 문자열에서 특정문자열을 찾아서 인덱스를 반환하고, 없으면 에러
- find('찾을문자열'): 문자열에서 특정문자열을 찾아서 인덱스를 반환하고, 없으면 -1 반환

In [395]:
s = 'apple pear grape pineapple orange'
s.index('pl')

2

In [396]:
s.rindex('pl')    # 오른쪽부터 탐색

23

In [397]:
s.index('oooo')

ValueError: substring not found

In [398]:
s.find('okkk')

-1

In [399]:
s.find('pl')

2

In [400]:
s.rfind('pl')        # index()와 같이 기본적으로 왼쪽부터 찾는다.

23

- count('문자열'): 현재 문자열에서 특정 문자열이 몇 번이나 나오는지 알아냄

In [401]:
s.count('pl')

2

**서식 지정자**

In [402]:
"나는 지우근입니다."

'나는 지우근입니다.'

In [406]:
name = input()
"나는 %s입니다." % name

지우근

'나는 지우근입니다.'

In [411]:
age = int(input())
"나이는 %d세 입니다." % age

25

'나이는 25세 입니다.'

In [416]:
score = float(input())
"제 학점은 %.1f입니다." % score

4.5

'제 학점은 4.5입니다.'

In [424]:
name = input()
age = int(input())
score = float(input())

"제 이름은 %s이며 나이는 %d세 학점은 %.1f입니다." % (name, age, score)

지우근
25
4.5

'제 이름은 지우근이며 나이는 25세 학점은 4.5입니다.'

**format함수**

In [423]:
name = '지우근'
"나는 {}입니다.".format(name)

'나는 지우근입니다.'

In [425]:
name = '지우근'
f"나는 {name}입니다."

'나는 지우근입니다.'