# Day 1 review

- split 사용하여 입력값 덧셈
- sep = '', end = '' (list value 설정)
- bool 연산자와 비교 연산자

---

# Day 2

- and
- or
- not

In [1]:
True and True

True

In [2]:
True and False

False

In [4]:
true and false      # 첫글자 대문자로 하지 않으면 bool로 판단하지 않음

NameError: name 'true' is not defined

In [5]:
False or True

True

In [7]:
Not True        # 논리 연산자는 모두 소문자로

SyntaxError: invalid syntax (2471178479.py, line 1)

In [8]:
not True

False

# 비교 연산자와 논리 연산자를 함께 사용

In [9]:
10 == 10

True

In [11]:
10 != 5

True

In [12]:
10 == 10 and 10 != 5

True

In [13]:
10 == 10 and 10 == 5

False

In [19]:
# 자료형 변환

print(int(1.5))
print(float(1))
print(str(1))

1
1.0
1

In [20]:
bool(1)

True

In [21]:
bool(0)

False

# Workshop

In [27]:
k, e, m, s = map(int, input("각 과목의 점수를 입력하세요: ").split())
k >= 50 and e >= 50 and m >= 50 and s >= 50

각 과목의 점수를 입력하세요: 100 100 100 40

False

In [2]:
Korean = 92
English = 95
Mathmatics = 30
Science = 90

In [30]:
print(Korean >= 50 and English >= 50 and Mathmatics >= 50 and Science >= 50)

False

In [32]:
not(Korean < 50 or English < 50 or Mathmatics < 50 or Science < 50)

False

- all(), any()

In [ ]:
all(______)  # 모두가 True이어야 한다.

any(______)  # 하나라도 False면 False로 출력한다.

In [4]:
is_pass = [Korean >= 50, English >= 50, Mathmatics >= 50, Science >= 50]

In [5]:
all(is_pass)

False

In [7]:
is_fail = [Korean < 50, English < 50, Mathmatics < 50, Science < 50]

In [8]:
is_fail

[False, False, True, False]

In [9]:
not(any(is_fail))

False

### 3개의 과일에 벌레 5마리 이상 발견되면 폐기처리

In [21]:
a, b, c = map(int, input("과일의 벌레수를 입력해주세요: ").split())
if(a >= 5):
    print("a과일 폐기처리")
else:
    print("a과일 적합")
if(b >= 5):
    print("b과일 폐기처리")
else:
    print("b과일 적합")
if(c >= 5):
    print("c과일 폐기처리")
else:
    print("c과일 적합")

과일의 벌레수를 입력해주세요: 4 6 6
a과일 적합
b과일 폐기처리
c과일 폐기처리

### 일주일 간 평균기온 구하기

In [112]:
su, mo, tu, we, th, fi, sa = map(int, input("각 요일의 기온을 입력해주세요. 단위는 drgree celsius: ").split())
average_temperature = (su + mo + tu + we + th + fi + sa) / 7
print(int(average_temperature))

각 요일의 기온을 입력해주세요. 단위는 drgree celsius: 2 2 43 1 2 2 3
7

# 문자열 사용하기

In [28]:
s1 = 'hello'
s2 = "hello"
s3 = '''hello'''
s4 = """hello"""
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [30]:
print(s1, s2, s3, s4)

hello hello hello hello

In [32]:
hello "python"을 출력

In [34]:
s1 = 'hello "python"'
type(s1)

str

In [35]:
print(s1)

hello "python"

In [ ]:
hello 'python'을 출력

In [36]:
s2 = "hello 'python'"

In [37]:
print(s2)

hello 'python'

In [39]:
s3 = """hello "python" """      # 띄어쓰기 한 칸 필요하다

In [38]:
s4 = '''hello 'python' '''      # 띄어쓰기 한 칸 필요하다

In [41]:
print(s3)

hello "python"

In [42]:
print(s4)

hello 'python'

In [ ]:
here is
python world
it is
real!!!

In [44]:
s5 = '''here is
python world
it is
real!!!'''
print(s5)                # ''' '''은 만능이라고 생각할 수 있다.

here is
python world
it is
real!!!

In [45]:
s6 = """here is
python world
it is
real!!!"""
print(s6)                # """ """도 만능이라고 생각할 수 있다.

here is
python world
it is
real!!!

In [47]:
s6.count('i')      # 입력값이 몇 개인지 세어주는 메서드

3

In [48]:
s6.count('\n')

3

In [49]:
s6.count('!')

3

In [ ]:
hello 'python'

In [50]:
s7 = 'hello \'python\''          # \은 escaping이라고 하며 따로 구분해주는 역할을 한다.

In [51]:
s7

"hello 'python'"

# Workshop

In [54]:
s = ''''python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''

In [56]:
print(s)

'python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# list and tuple

- list = [value, value, value, ...]  
#### 대괄호로 묶어줌

In [ ]:
programming_scores = [학생 1의 점수, 학생 2의 점수, ...]
철수의 점수 = [파이썬 점수, 자바 점수, C 점수, C++ 점수, veilog 점수, ...]

In [58]:
scores = [90, 95, 100, 100, 90, 95]

In [59]:
scores

[90, 95, 100, 100, 90, 95]

In [60]:
type(scores)

list

In [ ]:
person = [name, age, height, weight]

In [61]:
person1 = ["UGeun", 25, 178, 70]
person1

['UGeun', 25, 178, 70]

**빈 리스트 만들기**
- 리스트 = []
- 리스트 = list()

In [62]:
empty_list1 = []
empty_list1

[]

In [63]:
empty_list2 = list()
empty_list2

[]

- range(횟수)

In [65]:
range(10)

range(0, 10)

In [68]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- range(시작, 끝)

In [69]:
b = list(range(2, 8))
b

[2, 3, 4, 5, 6, 7]

In [70]:
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]

- range(시작, 끝, 증가폭)

In [71]:
c = list(range(2, 8, 2))
c

[2, 4, 6]

In [72]:
d = list(range(8, 2, -1))
d

[8, 7, 6, 5, 4, 3]

- list = (value, value, value, ...)
#### 소괄호로 묶어줌

- 튜플 = (값, 값, 값, ...)
- 튜플 = 값, 값, 값, ...

In [74]:
a = (1, 2, 3, 4)
a

(1, 2, 3, 4)

In [75]:
type(a)

tuple

In [76]:
b = 1, 2, 3, 4

In [77]:
b

(1, 2, 3, 4)

In [78]:
type(b)

tuple

In [ ]:
c = (1,)     # 원소가 하나인 tuple을 생성하고 싶다면 ,(comma)를 찍어줘야 한다.

- tuple1 = tuple(range(times))

In [79]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

- tuple1 = tuple(range(start, end))
- tuple1 = tuple(range(start, end, interval))

In [81]:
b = tuple(range(1, 15))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [82]:
c = tuple(range(1, 15, 3))

In [83]:
c

(1, 4, 7, 10, 13)

In [84]:
int(5.3)

5

In [85]:
float(5)

5.0

# list to tuple and tuple to list

In [86]:
list_a = list(a)

In [90]:
list_a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
tuple_a = tuple(a)

In [92]:
tuple_a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Workshop

In [97]:
list_1 = list(range(5, -10, -2))
list_1

[5, 3, 1, -1, -3, -5, -7, -9]

In [108]:
a = int(input())
tuple_1 = tuple(range(-10, 10, a))
tuple_1

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [113]:
step = int(input())
print(tuple(range(-10, 10, step)))

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

# 시퀀스 자료형 활용하기

- 시퀀스 자료형: list, tuple range, str

- value in sequence object

In [114]:
a = [1, 2, 3, 4, 5]
1 in a

True

In [115]:
10 in a

False

In [116]:
10 not in a

True

In [117]:
b = (1, 2, 3, 4, 5)
10 in b

False

In [118]:
c = "Hello"
'H' in c

True

In [120]:
 'h' in c         # 대소문자 구분

False

In [123]:
range(10)

range(0, 10)

In [124]:
1 in range(10)

True

In [125]:
10 in range(10)

False

- sequence object1 + sequence object2

In [126]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

In [127]:
a + b                    # 그럼 병합 메서드는 왜 존재하는가?

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
c = (1, 2, 3, 4, 5)
d = (6, 7, 8, 9, 10)

In [130]:
c + d

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
range(5) + range(5)         # 범위에 대한 정보만 가지고 있지, 실체는 없는 상태기 때문에 더할 수 없다.

In [131]:
list(range(5)) + list(range(5))

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [134]:
s1 = "Hello "
s2 = "world!"

In [135]:
s1 + s2

'Hello world!'

- sequence object * integer
- integer * sequence object

In [136]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [137]:
3 * [1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [138]:
2 * range(2)      # 실체 X

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [139]:
2 * list(range(2))

[0, 1, 0, 1]

In [142]:
'Hello ' * 3

'Hello Hello Hello '

In [143]:
3 * (1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

- len(sequence object)

In [145]:
a = [1, 2, 3]      # length 길이 알아볼 때 사용

In [146]:
len(a)

3

In [147]:
b = (1, 2, 3, 4, 5)

In [148]:
len(b)

5

In [149]:
len(range(10))

10

In [150]:
len("Hello")

5

In [153]:
 c = [2, 4, 5, 1]      # 앞에 띄어도 실행가능

In [154]:
len(c)

4

In [155]:
scores = [90, 80, 100, 90]    # 2번째에 있는 영어 점수만 알고 싶을 때

In [156]:
scores[1]           # index start from 0, so get second element from 'scores' list

80

In [157]:
# scores = [100, 90, ......................., 80] 일 때 마지막 거를 가져오고 싶다면
# scores = [-1]을 사용

In [158]:
scores[3]     # 마지막 원소

90

In [159]:
scores[-1]    # 음수 인덱스 (마지막 원소를 가져올 때 편리)

90

In [160]:
len(scores) -1

3

In [162]:
scores[len(scores) - 2]

100

In [163]:
b = (1, 2, 3)

In [164]:
b[4]

IndexError: tuple index out of range

In [167]:
range(10)[4]

4

In [168]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [169]:
list(range(10, 100, 10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [170]:
range(10, 100, 10)[2]

30

In [171]:
range(10, 100, 10)[len(range(10, 100, 10)) - 1]

90

In [172]:
range(10, 100, 10)[-1]

90

In [173]:
s = "Hello"

In [174]:
s[0]

'H'

In [175]:
s[4]

'o'

In [176]:
s[-1]

'o'

In [177]:
s[3]

'l'

In [178]:
s[-2]

'l'

- sequence object[index] = value
- 위의 문법은 list 객체에서만 유효. tuple, range, str 에서는 요소 값을 변경할 수 없다.

In [179]:
scores = [90, 100, 100, 70]

In [180]:
scores[0] = 95

In [181]:
scores

[95, 100, 100, 70]

In [183]:
shape = (1200, 900)
shape[0] = 1000            # tuple은 value 변경이 불가능하다.

TypeError: 'tuple' object does not support item assignment

In [184]:
range(10)[0] = 100

TypeError: 'range' object does not support item assignment

In [185]:
s = "Hello World!"
s[0] = 'h'

TypeError: 'str' object does not support item assignment

- del 시퀀스객체[index]
- 위의 문법은 list 객체에서만 유효. tuple, range, str 에서는 요소 값을 변경할 수 없다.

In [186]:
a = [1, 2, 3, 4]

In [187]:
del a[2]

In [188]:
a

[1, 2, 4]

In [189]:
b = (1, 2, 3, 4)
del b[2]

TypeError: 'tuple' object doesn't support item deletion

In [190]:
s = "Hello"
del s[1]

TypeError: 'str' object doesn't support item deletion

- sequence object[start_index:end_index]

In [193]:
a = [10, 20, 30, 40, 50]
# a[start:end]
a[0:3]        # 3번째는 포함 안됨 (0 ~ 2번째까지 가져오는 문법)

[10, 20, 30]

In [ ]:
a[:3]  # 0번째는 생략 가능

In [194]:
a[2:5]

[30, 40, 50]

In [195]:
a[2:]  # 마지막 번째 생략 가능

[30, 40, 50]

In [197]:
a[:]     # 시작인덱스와 끝인덱스를 모두 생략하면 처음부터 끝까지 가져옴

[10, 20, 30, 40, 50]

In [198]:
a[3:-1]

[40]

- sequence object[start_index:end_index:interval]

In [200]:
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [201]:
a[0:5]

[0, 10, 20, 30, 40]

In [202]:
a[0:5:2]

[0, 20, 40]

In [203]:
a[-1::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [205]:
a[0::1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# Workshop

In [207]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [211]:
year[5:]

[2016, 2017, 2018]

In [210]:
population[5:]

[9930616, 9857426, 9838892]

In [261]:
print(year[-3:])

[2016, 2017, 2018]

In [262]:
print(population[-3:])

[9930616, 9857426, 9838892]

In [264]:
# year와 population을 연결지어서 한 번에 출력할 수 있음
# zip(sequence object1, sequence object2)

zip(year, population)

In [265]:
map(int, ["10", "20", "30"])      # 형태만 존재

In [267]:
list(zip(year, population))       # 실체까지 출력

[(2011, 10249679),
 (2012, 10195318),
 (2013, 10143645),
 (2014, 10103233),
 (2015, 10022181),
 (2016, 9930616),
 (2017, 9857426),
 (2018, 9838892)]

In [268]:
list(zip(year[-3:], population[-3:]))

[(2016, 9930616), (2017, 9857426), (2018, 9838892)]

In [269]:
dict(zip(year[-3:], population[-3:]))

{2016: 9930616, 2017: 9857426, 2018: 9838892}

---

In [216]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [218]:
tuple(n)

(-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)

In [219]:
n

(-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)

In [225]:
n[-1::-2]

(2, 76, -15, 32, -10, 75)

In [270]:
n[1:len(n):2]

(75, -10, 32, -15, 76, 2)

In [271]:
n[1::2]

(75, -10, 32, -15, 76, 2)

---

In [260]:
a = list(input().split())
del a[-1:-6:-1]
tuple(a)

1 2 3 4 5 6 7 8

('1', '2', '3')

In [275]:
x = input()

a b c d e f g

In [278]:
s = x.split()
s

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [280]:
del s[-5:]

In [281]:
s

['a', 'b']

In [282]:
x = input().split()
del x[-5:]
print(tuple(x))

a b c d e f g
('a', 'b')

---

# Workshop

In [301]:
pin = '881204-1068234'

In [302]:
pin.split('-')

['881204', '1068234']

In [311]:
x = list(pin)

In [312]:
x

['8', '8', '1', '2', '0', '4', '-', '1', '0', '6', '8', '2', '3', '4']

In [314]:
if(x[7] == '1'):
    print("male")
else:
    print("female")

male

In [331]:
pin_list = pin.split('-') # 다른 풀이

In [327]:
second = pin_list[1]
second

'1068234'

In [328]:
second

'1068234'

In [329]:
second[0]

'1'

In [330]:
if second[0] == '1':
    print('male')
else:
    print('female')

male

In [ ]:
# 최종 코드

if pin.split('-')[1][0] == '1':
    print('male')
else:
    print('female')

---

In [323]:
print("phone number 출력 문자열")
y = input()
z = list(y)
z[:-4] = '*******'
print(list(z))
print(str(z))
print(z)

phone number 출력 문자열
123457890
['*', '*', '*', '*', '*', '*', '*', '7', '8', '9', '0']
['*', '*', '*', '*', '*', '*', '*', '7', '8', '9', '0']
['*', '*', '*', '*', '*', '*', '*', '7', '8', '9', '0']

In [332]:
def solution(angle):
    answer = (angle // 90) * 2 + (angle % 90 > 0) * 1
    return answer

In [333]:
solution(130)

3

In [334]:
solution(40)

1

In [335]:
solution(90)

2

In [336]:
solution(180)

4

In [337]:
phone_number = input()

01045638147

In [338]:
phone_number

'01045638147'

In [339]:
phone_number[:-4]

'0104563'

In [340]:
len(phone_number[:-4])

7

In [342]:
# s1 = 시퀀스 객체 * 정수
s1 = '*'* len(phone_number[:-4])

In [343]:
s2 = phone_number[-4:]

In [344]:
ss = s1 + s2

In [345]:
ss

'*******8147'

In [346]:
# 최종 코드

phone_number = input()
s1 = '*'* len(phone_number[:-4])
s2 = phone_number[-4:]
s1 + s2

01050978147

'*******8147'

# dictionary

- dictionary = {key1:value1, key2:value2, key3:value3, ...}

In [347]:
year_pop = {2016:9981304, 2017:4072902, 2018:1204857}

In [348]:
type(year_pop)

dict

In [349]:
# 딕셔너리에서는 어떤 값을 찾아가기 위한 유일한 수단이 '키가 됨
# (Note.) 리스트, 튜플, 문자열 등에서는 어떤 값을 찾아가기 위해 원소의 위치를 직접 계산을 했었음

In [350]:
# 2016년도의 population을 알고 싶다면
year_pop[2016]

9981304

In [ ]:
# 딕셔너리에서는 어떤 값을 찾아가기 위한 유일한 수단 '키'이므로
# '키'는 중복이 되어서는 안됨

In [356]:
# 아래와 같이 키 값(2016)을 중복해서 사용해도 문법적으로 오류는 안나지만
# 실제로 중복된 키(2016)로 색인했을 때 올바른 값을 얻어낼 수 없음
# 중복된 값 중 뒤에 있는 값이 조회가 됨
year_pop = {2016:9981304, 2016:4072902, 2018:1204857}

In [357]:
year_pop[2016]

4072902

In [358]:
year_pop[2016]

4072902

In [359]:
# 딕셔너리는 순서가 있는 자료형이 아님 (list나 tuple과는 달리 순서가 없어도 상관없다.)
year_pop = {2016:9981304, 2017:4072902, 2018:1204857}
year_pop

{2016: 9981304, 2017: 4072902, 2018: 1204857}

In [360]:
# dictionary's key: string, float, bool, tuple, and so on
# dictionary's value: all form including list, dictionary

In [361]:
# 딕셔너리의 키 값으로는 읽기 가능한 자료형이 와야 함(리스트, 딕셔너리 올 수 없음)

In [362]:
lux = {'health': 490, 'melee': 500, 'armor': 18.72}

In [363]:
lux

{'health': 490, 'melee': 500, 'armor': 18.72}

In [364]:
lux = {[1, 2, 3]: 490, 'melee': 500, 'armor': 18.72}    # 딕셔너리의 키에 리스트가 들어간 경우

TypeError: unhashable type: 'list'

In [365]:
lux = {{'k': 'v'}: 490, 'melee': 500, 'armor': 18.72}    # 딕셔너리의 키에 딕셔너리가 들어간 경우

TypeError: unhashable type: 'dict'

In [367]:
lux = {(1, 2): 490, 'melee': 500, 'armor': 18.72}    # 딕셔너리의 키에 튜플가 들어간 경우 (OK)

**빈 딕셔너리 만들기**
- 딕셔너리 = {}
- 딕셔너리 = dict()

In [369]:
x = {}
type(x)

dict

In [370]:
x = dict()
type(x)

dict

**dict()로 딕셔너리 만들기**
- dictionary = dict(zip([key1, key2], [value1, value2]))
- dictionary = dic([(key1, value1), (key2, value2)])

In [372]:
zip(['health', 'melee', 'armor'], [490, 500, 18.72])

In [373]:
list(zip(['health', 'melee', 'armor'], [490, 500, 18.72]))

[('health', 490), ('melee', 500), ('armor', 18.72)]

In [374]:
dict(zip(['health', 'melee', 'armor'], [490, 500, 18.72]))

{'health': 490, 'melee': 500, 'armor': 18.72}

In [375]:
dict([('health', 490), ('melee', 500), ('armor', 18.72)])

{'health': 490, 'melee': 500, 'armor': 18.72}

**딕셔너리의 키로 값 조회하기**
- dictionary[key]

In [376]:
year_pop[2016]

9981304

In [379]:
lux['melee']

500

**딕셔너리의 값 변경하기**
- dictionary[key] = value

In [380]:
lux

{(1, 2): 490, 'melee': 500, 'armor': 18.72}

In [381]:
lux['melee'] = 1000
lux

{(1, 2): 490, 'melee': 1000, 'armor': 18.72}

In [382]:
lux['attack_speed'] = 500

In [383]:
lux

{(1, 2): 490, 'melee': 1000, 'armor': 18.72, 'attack_speed': 500}

In [384]:
lux['power']     # 없는 키로 조회하면 오류

KeyError: 'power'

**딕셔너리에 키가 있는지 확인하기**
- 키 in dictionary

In [385]:
a = [1, 2, 3]
1 in a

True

In [386]:
'melee' in lux

True

In [387]:
'power' in lux

False

In [388]:
len(lux)

4

# Workshop

In [389]:
age = int(input())
balance = 9000
if age >= 7 and age <= 12:
    balance -= 650
elif age >= 13 and age <= 18:
    balance -= 1050
elif age >= 19:
    balance -= 1250
print(balance)

12
8350

In [394]:
age = int(input())
balance = 9000

if 7 <= age <= 12:  # 어린이
    balance -= 650
elif 13 <= age <= 18:  # 청소년
    balance -= 1050
elif age >= 19:    # 성인
    balance -= 1250
else:
    print("Error")
print(balance)

1
Error
9000

---

**게임 캐릭터 능력 저장**
- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한개에 저장하면 리스트로 저장됩니다.
```
(입력예)
health health_regen mana mana_regen
575.6 1.7 338.8 1.63
(결과)
{'health':575.6, 'health_regen':1.7, 'mana':338.8, 'mana_regen':1.63}
```

In [390]:
k = input().split()
d = input().split()

dict(zip(k, d))

health health_regen mana mana_regen
575.6 1.7 338.8 1.63

{'health': '575.6',
 'health_regen': '1.7',
 'mana': '338.8',
 'mana_regen': '1.63'}

In [391]:
key_list = input().split()
dict_list = input().split()

health healrh_regen mana mana_regen
575.6 1.7 338.8 1.63

In [392]:
dict(zip(key_list, dict_list))

{'health': '575.6',
 'healrh_regen': '1.7',
 'mana': '338.8',
 'mana_regen': '1.63'}